example/images/ressources/sample_image.jpg filter=lfs diff=lfs merge=lfs -text
example/positions/ressources/sample_image.jpg filter=lfs diff=lfs merge=lfs -text
tests/UNIT/ressources/sample_image.jpg filter=lfs diff=lfs merge=lfs -text
